{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
<div class="container" id="main">
<div class="row" id="hed" style="text-align: Center">
<h1>learn more about <span style="font-weight: 400">rojava</span></h1>
</div>
<div class="row nextsubhed" id="subhed">
<div class="col-xs-4">
read
</div>
<div class="col-xs-4">
watch
</div>
<div class="col-xs-4">
explore
</div>
</div>
<div class="row nextcols" id="nextcols">
<div class="col-xs-4 read">
<ul>
<li><a href="https://www.dissentmagazine.org/online_articles/the-revolution-in-rojava" target="_blank">Meredith Tax in <em>Dissent</em></a></li>
<li><a href="http://www.vqronline.org/reporting-articles/2015/09/what-kurds-want"target="_blank">Jenna Krajeski in <em>VQR</em></a></li>
<li><a href="http://www.telesurtv.net/english/opinion/Kurdish-Womens-Radical-Self-Defense-Armed-and-Political-20150707-0002.html"target="_blank">Dilar Dirik in <em>Telesur</em></a></li>
<li><a href="http://roarmag.org/2014/12/janet-biehl-report-rojava/"target="_blank">Janet Biehl in <em>Roar</em></a></li>
<li><a href="http://www.theguardian.com/commentisfree/2014/oct/08/why-world-ignoring-revolutionary-kurds-syria-isis" target="_blank">David Graeber in <em>The Guardian</em></a></li>
</div>
<div class="col-xs-4 watch">
<ul>
<li><a href="https://www.youtube.com/watch?v=fKhjJfH0ra4&feature=youtu.be" target="_blank"><em>BBC News</em></li>
<li><a href="https://vimeo.com/129935570" target="_blank">Joey L</a></li>
<li><em>Vice News</em><br><a href="https://www.youtube.com/watch?v=fHaaKR1HaFk" target="_blank">1</a>, <a href="https://www.youtube.com/watch?v=JTTHkEe0c2Y" target="_blank">2</a>, <a href="https://www.youtube.com/watch?v=jqYEva7VE-I" target="_blank">3</a>, and <a href="https://www.youtube.com/watch?v=p2zxlFQxkQ4" target="_blank">4</a></li>
<li><a href="https://www.youtube.com/watch?v=2EnWzbQ-qok&feature=youtu.be" target="_blank"><em>RT</em></a></li>
<li><a href="https://www.youtube.com/watch?v=6fJtjzR4UNE" target="_blank"><em>Journeyman Pictures</em></a></li>
</ul>
</div>
<div class="col-xs-4 explore">
<ul>
<li><a href="http://civiroglu.net/the-constitution-of-the-rojava-cantons/" target="_blank"><em>Constitution of the Rojava Cantons</em></a></li>
<li><a href="https://rojavareport.wordpress.com/" target="_blank"><em>The Rojava Report</em></a></li>
<li><a href="http://anarchism.pageabode.com/andrewnflood/resources-rojava-revolution-kurdistan-syria" target="_blank"><em>Resources on the Rojava Revolution</em></a></li>
</div>
</div>
<div class="row">
<div class="col-xs-4 col-xs-offset-8" style="text-align: right" id="contactarea">
{% if contacted == True %}
<div class="btn btn-default">your message was sent</div>
{% else %}
<button class="btn btn-default" id="contactbtn">contact</a>
{% endif %}
</div>
</div>
</div>
<div class="container" id="cbcontainer">
<div class="row nextsubhed">
<div class="col-xs-4">
		contact
</div>
<div class="col-xs-4">
		&nbsp;
</div>
<div class="col-xs-4">
		&nbsp;
</div>
</div>
<div class="row nextcols">
<div class="col-xs-4 read" style="text-align: center">
<form action="/contact/" method="post">
{% csrf_token %}
{{ contact }}
<div class="cbtns">
<input type="submit" class="btn btn-default" value="send" />
</form>
<a class="btn btn-default cancel" href="/next/">cancel</a>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="{% static "js/next.js" %}"></script>
</body>
{% endblock %}